* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-1: #c59d5f;
  --clr-2: #f1f5f8;
  --clr-3: #102a42;
  --clr-4: #617d98;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-3);
  text-transform: capitalize;
}
